// COLORS
$forest-green: #527141;
$grass-green: #77a361;

$light-green: #e4ece0;

$dark-green: #2c3e2c;
$sage-green: #a4c195;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

// color palletes to choose from/try out

// https://www.color-hex.com/color-palette/1022858