// COLORS
$primary-color: #527141;
$secondary-color: #77a361;

$white-color: #e4ece0;

$dark-grey: #2c3e2c;
$light-grey: #a4c195;

$dark-blue-text: #2c3e2c; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

// color palletes to choose from/try out

// https://www.color-hex.com/color-palette/1022858